/**
 * ------------------------------------------
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (max-width: 480px) {
  main {
    width: 100vw;
  }

  .container {
    width: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
}
